In [2]:
import pandas as pd

In [3]:
test_df = pd.read_csv('data/test.csv')
test_df.head(5)

,tid,datetime,cc_num,amount,fraud_label,num_trans_last_10m,avg_amt_last_10m,num_trans_last_1w,avg_amt_last_1w,amt_ratio1,amt_ratio2,count_ratio
0,e6f59378e0fc0120545c4279776a95fa,2020-05-15T00:37:54.000Z,4006080197832643,485.75,0,1,485.75,26,1169.772308,0.415252,0.415252,0.038462
1,916f76a19edee1a3415ed4a2662f2fa4,2020-05-15T16:14:41.000Z,4006080197832643,48.79,0,1,48.79,24,1247.409167,0.039113,0.039113,0.041667
2,32444335abc86def5b36f750fe0a88ee,2020-05-15T23:47:16.000Z,4006080197832643,9461.92,0,1,9461.92,24,1641.270000,5.764999,5.764999,0.041667
3,44ec06fcd5a01f0127de1b949f71ad4c,2020-05-16T05:47:56.000Z,4006080197832643,25.49,0,1,25.49,24,1639.930000,0.015543,0.015543,0.041667
4,08bec9154e149f380d5404d281e2cd4d,2020-05-16T12:49:20.000Z,4006080197832643,810.32,0,1,810.32,25,1606.745600,0.504324,0.504324,0.040000